<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <form action=""method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <p>Submit</p>
    </form>
    <table>
        <tr>
            <th>Task</th>
            <th>Completed</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.tasktitle}}</td>
            <td>{{task.completed}}</td>
        </tr>
        {% empty %}
        <h1>No tasks</h1>
        {% endfor %}
    </table>
</body>
</html>